@charset "UTF-8";

/* 目次
1.max-width: 1070px タブレット
2.max-width: 980px ヘッダーメニューレイアウト対応
4.max-width: 767px スマホ大
5.max-width: 480px スマホ
*/


@media screen and (max-width: 1070px) {
    .main_lead {
        justify-content: space-between;
    }
    .main_lead_title {
        width: 14.4vw;
    }
    .main_lead_body {
        width: 65vw;
        margin-right: 20px;
    }
    .main_lead_txt {
        font-size: 1.95vw;
    }
    .main_lead_img {
        width: 63.8vw;
        height: 55.6vw;
    }


    .whatischabo > .inner,
    .lifewithchabo > .inner,
    .chaboforthefuture > .inner {
        background-position: center top;
        background-size: cover;
        padding-top: 56%;
        padding-bottom: 0;
        position: relative;
    }
    .whatischabo > .inner {
        background-image: url(../images/whatischabo_img_sp.png);
    }
    .lifewithchabo > .inner {
        background-image: url(../images/lifewithchabo_img_sp.png);
    }
    .chaboforthefuture > .inner {
        background-image: url(../images/chaboforthefuture_img_sp.png);
    }
    .whatischabo::before {
        min-width: auto;
        min-height: auto;
        width: 41vw;
        height: 76vw;
        top: auto;
        left: auto;
        bottom: -80vw;
        right: -2px;
        transform: rotateY(190deg);
        z-index: 0;
    }
    .lifewithchabo::before {
        min-width: auto;
        min-height: auto;
        width: 37vw;
        height: 90vw;
        top: 15vw;
        z-index: 0;
    }
    .chaboforthefuture::before {
        min-width: auto;
        min-height: auto;
        width: 51vw;
        height: 56vw;
        top: auto;
        left: auto;
        bottom: -60vw;
        right: -2px;
        transform: rotateY(190deg);
        z-index: 0;
    }

    .whatischabo {
        margin-top: 19.6vw;
    }
    .lifewithchabo {
        margin-top: 58.7vw;
    }
    .chaboforthefuture {
        margin-top: 58.7vw;
        margin-bottom: 39.1vw;
    }
    .contents_txt {
        width: calc(100% - 60px);
        position: absolute;
        bottom: -32vw;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        padding: 6vw 0 0;
    }
    .contents_txt_inner {
        width: calc(100% - 60px);
        padding-bottom: 8vw;
    }
    .contents_title {
        font-size: 7vw;
    }
    .contents_title::after {
        font-size: 1.5vw;
    }
    .contents_subtitle {
        margin-top: 6vw;
        font-size: 2.6vw;
    }
    .contents_desc {
        font-size: 1.8vw;
        margin-top: 0.6vw;
    }
    .contents_link_btn {
        width: 32.7vw;
        height: 8.5vw;
        line-height: 8.5vw;
        font-size: 2vw;
    }
}

@media screen and (max-width: 980px) {
    .header_logo {
        bottom: -39px;
    }
    .header_logo_img,
    .header_logo::after {
        width: 16.33vw;
        height: 16.33vw;
        min-width: 90px;
        min-height: 90px;
    }
    .header_nav {
        padding-left: 17.35vw;
        padding-right: 1.02vw;
    }
    .header_nav .nav_list {
        padding: 3.57vw 0 3.06vw;
        font-size: 1.6rem;
    }
    .header_nav .nav_item a {
        font-size: 1.6rem;
    }
    .header_nav .nav_item span {
        padding-top: 0;
    }

    .news_date,
    .news_title {
        font-size: 1.6rem;
    }
    .news_btn {
        font-size: 1.2rem;
    }
    .news_btn a {
        padding: 3px 10px;
    }
}

@media screen and (max-width: 767px) {
    .pc {
        display: none;
    }
    .sp {
        display: block;
    }
    .inner {
        padding-right: 16px;
        padding-left: 16px;
      }
    #header {
        height: 80px;
    }
    #header > .inner {
        padding-right: 10px;
        padding-left: 10px;
    }
    .header_logo_img {
        /* width: 77px;
        height: 77px; */
    }
    .header_logo_type {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }
    .header_logo_type_img {
        width: 40vw;
        min-width: 240px;
        height: auto;
    }
    .header_nav_btn {
        position: absolute;
        width: 35px;
        height: 35px;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        margin-right: 25px;
    }
    .header_nav_btn span {
        display: block;
        position: absolute;
        left: 0;
        width: 100%;
    }
    .nav_btn_line {
        height: 1px;
        background-color: #333;
        -webkit-transition: all .4s;
        transition: all .4s;
    }
    .nav_btn_line:nth-child(1) {
        top: 0px;
    }
    .nav_btn_line:nth-child(2) {
        top: 9px;
    }
    .nav_btn_line:nth-child(3) {
        top: 18px;
    }
    .header_nav_btn .nav_btn_txt {
        font-size: 1rem;
        top: 22px;
        text-align: center;
    }
    .header_nav {
        display: none;
    }
   
    #main_visual {
        /* height: 400px; */
    }

    .news {
        padding: 10px 0;
    }
    .news_list {
        display: block; 
    }
    .news_heading {
        text-align: left;
        border: none;
        width: 100%;
    }
    .news_content {
        width: 80%;
        float: left;
        padding-left: 0;
    }
    .news_date {
        text-align: left;
    }
    .news_btn {
        width: 20%;
        display: inline-block;
    }

    #main > .inner {
        padding-top: 100px;
    }
    .main_lead {
        display: block;
    }
    .main_lead::before,
    .main_lead::after {
        content: "";
        position: absolute;
        background-repeat: no-repeat;
        background-size: contain;
        opacity: 0.6;
    }
    .main_lead::before {
        background-image: url("../images/main_lead_img_osu.png");
        /* width: 122vw;
        height: 108vw;
        top: -90px;
        left: -57px;*/
        width: 79vw;
        height: 139vw;
        top: -90px;
        left: -60%;
    }
    .main_lead::after {
        background-image: url("../images/main_lead_img_mesu.png");
        /* width: 66vw;
        height: 81vw;
        bottom: -90px;
        right: -17px; */
        width: 75vw;
        height: 93vw;
        bottom: -90px;
        right: -48%;
    }
    .main_lead_title {
        width: 70vw;
        margin: 0 auto 50px;
    }
    .main_lead_body {
        margin-right: 0;
        width: auto;
    }
    .main_lead_txt {
        text-align: center;
        font-size: 3.75vw;
    }
    .main_lead_img {
        display: none;
    }


    

    #main::after {
        height: 300px;
    }
    .footer_logo {
        width: 150px;
        height: 150px;
    }
    .footer_nav {
        display: none;
    }
    .footer_copyright {
        padding-top: 5px;
    }

}

@media screen and (max-width: 480px) {
    .sp480 {
        display: block;
    }
    #header {
        height: 60px;
    }
    #header > .inner {
        /* padding-top: 5px; */
        padding-right: 3px;
        padding-left: 3px;
    }
    .header_logo_img, 
    .header_logo::after {
        min-width: 68px;
        min-height: 68px;
    }
    .header_logo_type_img {
        min-width: 180px;
        width: 50vw;
    }
    .header_nav_btn {
        margin-right: 10px;
        width: 30px;
        height: 30px;
    }
    .header_nav_btn .nav_btn_txt  {
        left: -1px;
    }

    #main_visual {
        background-image: url(../images/main_visual_sp.jpg);
        height: 120vw;
        /* height: calc(100vh - 60px); */
    }

    .news_heading {
        font-size: 1.6rem;
    }
    .news_date, 
    .news_title {
        font-size: 1.2rem;
    }
    .news_title {
        text-align: right;
    }
    .news_btn {
        font-size: 1rem;
    }
    .news_btn a {
        padding: 1px 2px;
    }

    #main >.inner {
        padding-top: 60px;
    }

    .contents_txt {
        width: 90%;
        /* bottom: -40vw; */
        /* bottom: -56vw; */
        bottom: -49vw;
}
    }
    .contents_subtitle, 
    .contents_desc {
        margin-left: 0;
    }
    .contents_subtitle {
        margin-top: 8vw;
    }
    .contents_link_btn {
        width: 200px;
        height: 44px;
        line-height: 44px;
        font-size: 1.4rem;
    }
    .lifewithchabo,
    .chaboforthefuture {
        margin-top: 82.7vw;
    }

    /* ここから */
    .contents_title {
        font-size: 30px;
    }
    .contents_title::after {
        font-size: 10px;
    }
    .contents_subtitle {
        font-size: 14px;
    }
    .contents_desc {
        font-size: 12px;
    }
    /* ここまで */


    .footer_logo {
        width: 120px;
        height: 120px;
    }
    .footer_copyright {
        font-size: 1.2rem;
    }
}